.form-floating > .form-control {
    padding: 0rem 0.75rem;
    border-radius: 31px;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: 1;
    top: -9px;
    left: 12px;
    border-radius: 20px;
    height: auto;
    padding: 0px 7px;
    color: black;
    background: white;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-check-label{
    display: inline-block;
    text-align: left;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.form-floating > .form-control ~ span {
    display: none;
    transition: 1.5 all linear;
    font-size: 12px;
    color: #6500E4;
    position: absolute;
    left: 10px;
}

.form-floating > .form-control:focus ~ span {
    display: block;
}

input:-internal-autofill-selected {
    background-color: none !important;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.05rem #6501e4 !important;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: #1c002f;
    padding: 0.4rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-floating > .form-control,
.form-floating.negro > .form-select {
    height: 38px;
    line-height: 1.25;
}

.form-floating > .form-control:focus {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #6501e4;
    color: black;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #CED4DA;
}

.form-floating.negro > .form-control:not(:placeholder-shown) ~ label,
.form-floating.negro > .form-select ~ label {
    opacity: 1;
    top: -9px;
    left: 12px;
    height: auto;
    padding: 0px;
    color: black;
    background: white;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating>.form-control, .form-floating>.form-select {
    height: 40px;
    border-radius: 31px;
}
.form-floating>.form-select {
    padding-top:0rem !important;
    padding-bottom: 0rem !important;
}
.form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.form-select:focus {
    border-color: #6501e4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.form-floating > .form-select:focus ~ span {
    display: block;
}
.form-floating > .form-select ~ span {
    display: none;
    transition: 1.5 all linear;
    font-size: 12px;
    color: #6500E4;
    position: absolute;
    left: 10px;
}

/*input-negros*/

.form-floating.negro > .form-control {
    padding: 0rem 0.75rem;
    border-radius: 31px;
}

.form-floating.negro > .form-control:focus ~ label,
.form-floating.negro > .form-control:not(:placeholder-shown) ~ label,
.form-floating.negro > .form-select ~ label {
    opacity: 1;
    top: -9px;
    left: 12px;
    height: auto;
    padding: 0px;
    color: #ffcc00;
    background: #1d002f;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating.negro > .form-control ~ span {
    display: none;
    transition: 1.5 all linear;
    font-size: 12px;
    color: #ffcc00;
    position: absolute;
    left: 10px;
}

.form-floating.negro > .form-control:focus ~ span {
    display: block;
}

input:-internal-autofill-selected {
    background-color: none !important;
}

.form-floating.negro .form-control:focus {
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.05rem #ffcc00 !important;

}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
    /* background: rebeccapurple; */
}

.form-floating.negro > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    padding: 0.4rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.form-floating.negro > .form-control:focus,
.form-floating.negro > .form-control:not(:placeholder-shown) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-floating.negro > .form-control,
.form-floating.negro > .form-select {
    height: 38px;
    line-height: 1.25;
}

.form-floating.negro > .form-control:focus,
.form-floating.negro > .form-control:not(:placeholder-shown) {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #fecb04;
}

.form-floating.negro > .form-control:not(:placeholder-shown) {
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #ced4da;
    color: white;
}

.form-floating.negro > .form-control:not(:placeholder-shown) ~ label,
.form-floating.negro > .form-select ~ label {
    opacity: 1;
    top: -9px;
    left: 12px;
    height: auto;
    padding: 0px;
    color: #ced4da;
    background: #1d002f;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}


    #togglePassword {
    position: absolute;
    right: 12px;
    top: 11px;
}

    .text-field {
        padding: 30px 0 100px;
    }

    .text-field h2.sub {
        font-size: var(--fs-32) !important;
        color: var(--color-primary);
        margin: 50px 0;
    }

    .form-floating>.form-control.red:focus {
        border-color: var(--color-error);
        box-shadow: 0 0 0 0 !important;
    }

    .form-floating>.form-control.red~span {
        color: var(--color-error);
    }

    .form-floating.disabled {
        border: 1px solid var(--color-input-disabled);
        color: var(--color-input-disabled);
    }

    .form-floating.disabled>label {
        color: var(--color-input-disabled);
    }

    .disabled::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: red;
        opacity: 1;
        /* Firefox */
    }

    .disabled:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: red;
    }

    .disabled::-ms-input-placeholder {
        /* Microsoft Edge */
        color: red;
    }

    .pass-purple .fa-eye:before,
    .pass-purple .fa-eye-slash:before {
        color: var(--color-primary);
    }

    .pass-purple .form-control,
    .form-floating.pass-purple>.form-control:focus {
        border-color: var(--color-primary);
    }

    .form-floating.pass-purple>.form-control:focus {
        box-shadow: 0 0 0 0 !important;
    }

    .pass-error .fa-eye:before,
    .pass-error .fa-eye:before {
        color: var(--color-error);
    }

    .pass-error .form-floating>.form-control~span {
        color: var(--color-error);
    }

    .pass-error .form-control,
    .form-floating.pass-error>.form-control:focus {
        border-color: var(--color-error);
    }

    .form-floating.pass-error>.form-control:focus {
        box-shadow: 0 0 0 0 !important;
    }

    .pass-black .form-control,
    .form-floating.pass-black>.form-control:focus {
        border-color: var(--color-black);
    }

    .form-floating.pass-black>.form-control:focus {
        box-shadow: 0 0 0 0 !important;
    }
    .form-floating.pass-disabled>.form-control:focus {
        box-shadow: 0 0 0 0 !important;
    }
    .pass-black .fa-eye:before,
    .pass-black .fa-eye:before {
        color: var(--color-black);
    }

    .pass-disabled .fa-eye:before,
    .pass-disabled .fa-eye:before {
        color: var(--color-disabled-default);
    }

    .form-floating.pass-error>.form-control~span {
        color: var(--color-error);
    }

    .form-floating.pass-black>.form-control~span {
        color: var(--color-black);
    }

    .form-floating.pass-purple>.form-control~span {
        color: var(--color-primary);
    }

    .form-floating.pass-disabled>.form-control~span, .form-floating.pass-disabled > .form-control:focus ~ label {
        color: var(--color-disabled-default);
    }

    /* .inputfile-item + label {
        color: #c39f77;
    } */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
                                .inputfile-item + label {
    font-size: 1rem;
    background-color: transparent;
    padding: 0;
}

    .inputfile-item:focus + label,
    .inputfile-item.has-focus + label,
    .inputfile-item + label:hover {
        border-color: #ced4da;;
    }

    .inputfile-item + label span,
    .inputfile-item + label strong {
        padding: 0.625rem 1.25rem;
        border-radius: 31px;
    }

    .inputfile-item + label span {
        border: 1px solid #ced4da;
        width: 390px;
        min-height: 42px;
        font-size: 1rem;
        font-weight: 400;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
        position: relative;
    }
    .inputfile-item + label span::after {
        content: url('/img/icon-input-file.svg');
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .inputfile-item + label strong {
        width: 145px;
        height: 42px;
        color: #fff;
        background-color: var(--color-disabled-default);
        display: inline-block;
        text-align: center;
    }

    .inputfile-item:focus + label strong,
    .inputfile-item.has-focus + label strong,
    .inputfile-item + label:hover strong {
        background-color: var(--color-primary);

    }
    .max-mb{
        margin-left: 25px;
        font-size: 12px;
        font-weight: 400;
        color: var(--color-primary);;
    }

    @media screen and (max-width: 50em) {
        .inputfile-item + label strong {
            display: block;
        }
    }
    /**********End File Inputs**********/