 table {
     border-collapse: collapse;
     border-radius: 8px;
     overflow: hidden;
 }

 /*tabla*/

 .table > :not(:last-child) > :last-child > * {
     border-bottom-color: transparent;
 }

 .table > thead {
     vertical-align: bottom;
     background: #FAF7FF;
     border-radius: 8px;
 }

 .table > :not(caption) > * > * {
     padding: 0.5rem 0.5rem;
     background-color: var(--bs-table-bg);
     border-bottom-width: 1px;
     border-color: #CED4DA;
     box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
 }

 /*tabla movil*/
 .cont-tabla-movil {
     background: #FFFFFF;
     box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
 }

 .cont-tabla-movil h5 {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 19px;
     padding: 0px;
     margin: 0px;
 }

 .cont-tabla-movil p {
     font-family: 'Nunito Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 16px;
     padding: 0px;
     margin: 0px;
 }

 .casilla-acciones {
     background: #FAF6FF;
     border-radius: 0px 0px 8px 8px;
 }

 .casilla-acciones a span {
     position: relative;
     top: 6px;
 }

 .casilla-acciones a {
     color: var(--color-primary)
 }