   .tabs-classic.nav-tabs .nav-link.active {
        font-family: 'Nunito Sans';
font-style: normal;
font-weight: 800 !important;
font-size: 14px !important;
line-height: 21px !important;
color: #6500E4 !important;
    background: none;
border: 1px solid #EDEBEE;
border-radius: 8px 8px 0px 0px;
     margin-left: 10px;

    }
     .tabs-classic.nav-tabs .nav-link{
      font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #1C002F;
         background: #EDEBEE;
border: 1px solid #EDEBEE;
border-radius: 8px 8px 0px 0px;
     margin-left: 10px;

    }