/*botones*/

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    border-radius: 30px;
}

.btn-primary.outline {
    background-color: transparent !important;
    border-color: var(--color-primary) !important;
    border-radius: 30px;
}

.btn-secondary.outline {
    background-color: transparent !important;
    border-color: var(--color-secondary) !important;
    border-radius: 30px;
}

.btn-auxiliar.outline {
    background-color: transparent !important;
    border-color: var(--color-auxiliar) !important;
    border-radius: 30px;
}

.btn-auxiliar-comp.outline {
    background-color: transparent !important;
    border-color: var(--color-auxiliar-comp) !important;
    border-radius: 30px;
}

.btn-secondary {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
    border-radius: 30px;
}

.btn-auxiliar {
    background-color: var(--color-auxiliar) !important;
    border-color: var(--color-auxiliar) !important;
    border-radius: 30px;
}

.btn-auxiliar-comp {
    background-color: var(--color-auxiliar-comp) !important;
    border-color: var(--color-auxiliar-comp) !important;
    border-radius: 30px;
}


.btn.disabled {
    background-color: var(--color-disabled-default) !important;
    border-color: var(--color-disabled-default) !important;
    border-radius: 30px;
}

.btn-black {
    background-color: transparent !important;
    border-color: var(--color-black) !important;
    border-radius: 30px;
    padding: 3px 16px;
}

.btn-white.outline {
    background-color: transparent !important;
    border-color: var(--color-white) !important;
    border-radius: 30px;
    padding: 3px 16px;
}

.btn-error {
    background-color: var(--color-error) !important;
    border-color: var(--color-error) !important;
    border-radius: 30px;

}

.btn-error.outline {
    background-color: transparent !important;
    border-color: var(--color-error) !important;
    border-radius: 30px;

}



/*botones  link user*/


.link-user:hover {
    color: black;


}

.link-user:focus {
    color: black;


}

.link-user img {
    margin-left: 2px;

}

.link-user {
    text-decoration: revert;
    color: black;
}

.list-user .dropdown-menu.show {
    top: 20px !important;
    inset: auto auto 0px !important;
    right: 0px !important;
}

/*botones  link user*/

.botones {
    padding: 30px 0 100px;
}

.botones section h2.sub {
    font-size: var(--fs-32) !important;
    color: var(--color-primary);
    margin: 50px 0;
}

.grilla-botones button {
    width: 100%;
    height: 40px;
    margin: 15px auto;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.grilla-botones .destaca-punteado img {
    margin: 15px auto;
    display: block;
}

.destaca-punteado {
    border: 2px dashed #9747FF;
    padding: 30px;
    margin-top: 50px;
}

.grilla-botones button.disabled {
    background: var(--color-disabled-default);
}

a.text-link {
    text-decoration: underline;
    font-size: var(--fs-14);
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

a.text-link.cyan {
    color: var(--color-secondary);
}

a.text-link.purple {
    color: var(--color-primary);
}

a.text-link.disabled {
    color: var(--color-input-disabled);
}

/* botones para modulo nomina y modal editar ficha*/

.button-modulo {
    display: flex;
    width: 314px;
    padding: 8px 16px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50px;
    border-color: var(--color-auxiliar);
    border-style: solid;
    background-color: hsl(0, 0%, 100%);
    color: var(--color-black);
    font-weight: 400;
    transition: all .1s ease-in-out
}

.button-modulo.curso {
    color: var(--color-auxiliar);
    justify-content: center;
}

.button-modulo img,
.nav.nav-pills .nav-item .nav-link img {
    margin-right: 16px;
    filter: brightness(1) invert(0) hue-rotate(0deg);
    transition: all .1s ease-in-out;
}

.nav.nav-pills .nav-item .nav-link {
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 16px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
    color: var(--color-black);
    font-weight: 400;
    transition: all .1s ease-in-out;
}

.modal-content .nav.nav-pills .nav-item .nav-link  {
    margin-bottom: 4px;
}

.nav.nav-pills .nav-item .nav-link img {
    margin-right: 8px;
}

.nav.nav-pills .nav-item .nav-link:after {
    content: '';
    background: url('../../../img/modulos/icon-arrow.svg') no-repeat center;
    background-size: 100%;
    margin-left: auto;
    width: 30px;
    height: 30px;
}

.nav.nav-pills .nav-item .nav-link img {
    margin-right: 4px;
}

.button-modulo.active,
.button-modulo:hover,
.nav.nav-pills .nav-item .nav-link.active,
.nav.nav-pills .nav-item .nav-link:hover {
    background: var(--color-auxiliar);
    color: hsl(0, 0%, 100%);
}

.button-modulo.active img,
.button-modulo:hover img,
.nav.nav-pills .nav-item .nav-link.active img,
.nav.nav-pills .nav-item .nav-link:hover img,
.nav.nav-pills .nav-item .nav-link.active:after,
.nav.nav-pills .nav-item .nav-link:hover:after {
    filter: brightness(0) invert(1) hue-rotate(0deg);
}