.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 31px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;


}

.modal-content h4 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #1C002F;

}

.modal-content img {
    width: 56px;
    height: 56px;

}

.modal-content p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}
