.modulos {
    background-image: url(../../img/fondo-seccion-interior.svg);
    background-position: center 135px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-attachment: fixed;
    min-height: 90vh;
    padding-top: 40px;
    color: var(--color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .modulos .card-shadow {
        background: hsl(0, 0%, 100%);
        border-radius: 20px;
        box-shadow: 0px 0px 16px 4px rgba(28, 0, 47, 0.1);
        padding: 48px 76px;
    }

    .button-modulo-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 314px);
        justify-content: space-between;
    }

    .modulos .titulo-modulo {
        color: var(--color-black);
        font-size: 2rem !important;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .modulos dl{
        margin: 0;
    }
    .modulos .modulo-dl {
        display: flex;
    }

    .modulos .modulo-dl dt{
        margin-right: 8px;
    }
